<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.zn.fitness_system.db.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.vip.zn.fitness_system.db.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="begin_time" jdbcType="DATE" property="beginTime"/>
        <result column="end_time" jdbcType="DATE" property="endTime"/>
        <result column="card_type" jdbcType="TINYINT" property="cardType"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="card_num" jdbcType="VARCHAR" property="cardNum"/>
        <result column="is_expired" jdbcType="TINYINT" property="isExpired"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, gender, begin_time, end_time, card_type, phone_number, card_num, is_expired
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.vip.zn.fitness_system.db.model.User">
        insert into user (id, name, gender,
                          begin_time, end_time, card_type,
                          phone_number, card_num, is_expired)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
                #{beginTime,jdbcType=DATE}, #{endTime,jdbcType=DATE}, #{cardType,jdbcType=TINYINT},
                #{phoneNumber,jdbcType=VARCHAR}, #{cardNum,jdbcType=VARCHAR}, #{isExpired,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.vip.zn.fitness_system.db.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="cardType != null">
                card_type,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="cardNum != null">
                card_num,
            </if>
            <if test="isExpired != null">
                is_expired,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=DATE},
            </if>
            <if test="cardType != null">
                #{cardType,jdbcType=TINYINT},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="cardNum != null">
                #{cardNum,jdbcType=VARCHAR},
            </if>
            <if test="isExpired != null">
                #{isExpired,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vip.zn.fitness_system.db.model.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=DATE},
            </if>
            <if test="cardType != null">
                card_type = #{cardType,jdbcType=TINYINT},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="cardNum != null">
                card_num = #{cardNum,jdbcType=VARCHAR},
            </if>
            <if test="isExpired != null">
                is_expired = #{isExpired,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vip.zn.fitness_system.db.model.User">
        update user
        set name         = #{name,jdbcType=VARCHAR},
            gender       = #{gender,jdbcType=TINYINT},
            begin_time   = #{beginTime,jdbcType=DATE},
            end_time     = #{endTime,jdbcType=DATE},
            card_type    = #{cardType,jdbcType=TINYINT},
            phone_number = #{phoneNumber,jdbcType=VARCHAR},
            card_num     = #{cardNum,jdbcType=VARCHAR},
            is_expired   = #{isExpired,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--  自定义查询语句(根据名字查询用户列表)-->
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where `name` = #{name,jdbcType=VARCHAR}
        order by id desc
    </select>
    <!--  自定义查询语句(根据名字查询用户列表)-->
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where `phone_number` = #{phone_number,jdbcType=VARCHAR}
        order by id desc
    </select>
    <!--  自定义查询语句(根据卡号查询用户列表)-->
    <select id="selectByCardNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where `card_num` = #{card_num,jdbcType=VARCHAR}
        order by id desc
    </select>
    <update id="insertOrUpdate" parameterType="com.vip.zn.fitness_system.db.model.User">
        insert into user (`id`,
                          `name`,
                          `gender`,
                          `begin_time`,
                          `end_time`,
                          `card_type`,
                          `phone_number`,
                          `card_num`,
                          `is_expired`)
        values (#{name,jdbcType=VARCHAR},
                #{gender,jdbcType=TINYINT},
                #{beginTime,jdbcType=DATE},
                #{endTime,jdbcType=DATE},
                #{cardType,jdbcType=TINYINT},
                #{phoneNumber,jdbcType=VARCHAR},
                #{cardNum,jdbcType=VARCHAR},
                #{isExpired,jdbcType=TINYINT})
        on DUPLICATE KEY UPDATE name    = #{name,jdbcType=VARCHAR},
                                phone_number  = #{phoneNumber,jdbcType=VARCHAR},
                                card_num = #{cardNum,jdbcType=VARCHAR}
    </update>

</mapper>